<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Files</key>
	<dict>
		<key>ACPI\DSDT.aml</key>
		<data>
		OXItnW4efdr/FPQ6LqFmpvnVXUD16A2nUeY1reysdlY=
		</data>
		<key>ACPI\SSDT-TP300LD.aml</key>
		<data>
		36po0Jd0MZ42cJ8OUAterQPAWV7ySv2kCP++fVJXQ8g=
		</data>
		<key>Bootstrap\Bootstrap.efi</key>
		<data>
		AlnWzl/RyOmy+vc1NLNd4HbqCz0YKUvScKGk5HKlu7k=
		</data>
		<key>Drivers\AudioDxe.efi</key>
		<data>
		gPd2B6q20V1r2i1vTEiH6o7vjOnbkV9TQzCjTKX1wdY=
		</data>
		<key>Drivers\ExFatDxe.efi</key>
		<data>
		5olp3KLxsl4UcFl0FwARm1NBpYKH/tuiJNv4EXryqwY=
		</data>
		<key>Drivers\HfsPlus.efi</key>
		<data>
		WIe9YMNtVnvhJ0hzlmNWsX/dx3Qt88Vft44QcbXsv+0=
		</data>
		<key>Drivers\HiiDatabase.efi</key>
		<data>
		APibeVdWyZs32CRb0CleGDwI1QLZ6eKB90T7KOsXK2E=
		</data>
		<key>Drivers\Ntfs.efi</key>
		<data>
		ErkjW9n0RdBkFRiGDSLLIQPIQo2gAH0Ku7XLY52hs1Y=
		</data>
		<key>Drivers\NvmExpressDxe.efi</key>
		<data>
		E0d1zDzCalpa11dbnITUhoNGfeGEiw5PEPa00MoFYjM=
		</data>
		<key>Drivers\OpenCanopy.efi</key>
		<data>
		g1CMD8B51WGNS+7fpHB5k5skZ0JE0fb2qrWpM+l/j/k=
		</data>
		<key>Drivers\OpenRuntime.efi</key>
		<data>
		ERaSc02vfBJceT5WdQhuN+u8tsVF8XGopluOL5jn7To=
		</data>
		<key>Drivers\OpenUsbKbDxe.efi</key>
		<data>
		UNAF90j6eEKYygQOTO74xLzRPHruQbYRoeSYzUc4f2Y=
		</data>
		<key>Drivers\Ps2KeyboardDxe.efi</key>
		<data>
		z/ieE9BAnWHQWfOlgmRw2ey6d1znA2aVObQz36e49QE=
		</data>
		<key>Drivers\Ps2MouseDxe.efi</key>
		<data>
		4IjgHM2flmNc3G00Co0lIwGDcyQYIriQbaD/U9in51I=
		</data>
		<key>Drivers\UsbMouseDxe.efi</key>
		<data>
		izaN50sSI6A2ACTVs0frJe0llY3sZ5VN+gP0La4EieU=
		</data>
		<key>Drivers\XhciDxe.efi</key>
		<data>
		n0chWyxjJJg9sW0E1+qYMEqcX460FKdYhGsH27Io9zA=
		</data>
		<key>Kexts\AirportBrcmFixup.kext\Contents\Info.plist</key>
		<data>
		yEJKw6azgW1Qm/76NUiZ5xacXQ71M2BKpxTD3OmQw/A=
		</data>
		<key>Kexts\AirportBrcmFixup.kext\Contents\MacOS\AirportBrcmFixup</key>
		<data>
		68Va+FQYQS7nQGEsk9srWuri2l3w3DL92WbviAZudIA=
		</data>
		<key>Kexts\AppleALC.kext\Contents\Info.plist</key>
		<data>
		XyUTvdpTJPtlPj8pWet+uEvidC5SawUO4ZIlwapOaVo=
		</data>
		<key>Kexts\AppleALC.kext\Contents\MacOS\AppleALC</key>
		<data>
		OGkz+57DxdBSp8CDbwmS/dfqoeMv8NLKuoTfn2fhPmM=
		</data>
		<key>Kexts\ApplePS2SmartTouchPad.kext\Contents\Info.plist</key>
		<data>
		QtkMjwXHg2jW1VXgIHnV+9frURF3hF8wyoQyECIw50E=
		</data>
		<key>Kexts\ApplePS2SmartTouchPad.kext\Contents\MacOS\ApplePS2SmartTouchPad</key>
		<data>
		xV/va7ICHKa70mVmL8DbPp/x4V5lFgY7TpIs2M108RY=
		</data>
		<key>Kexts\ApplePS2SmartTouchPad.kext\Contents\PlugIns\ApplePS2Controller.kext\Contents\Info.plist</key>
		<data>
		dkCF5eAfkzFr4qB1o4yrPqFD4P/YCg+kAjgBqBXZ1h4=
		</data>
		<key>Kexts\ApplePS2SmartTouchPad.kext\Contents\PlugIns\ApplePS2Controller.kext\Contents\MacOS\ApplePS2Controller</key>
		<data>
		GBOEv8/osGnqMlY4bYCaUolsrgNdhhIReQaKRrlCN8o=
		</data>
		<key>Kexts\ApplePS2SmartTouchPad.kext\Contents\PlugIns\ApplePS2Keyboard.kext\Contents\Info.plist</key>
		<data>
		qiJZrA3gQGUJqJHVlgp80WypqRyI39UHEj1APMu8tQw=
		</data>
		<key>Kexts\ApplePS2SmartTouchPad.kext\Contents\PlugIns\ApplePS2Keyboard.kext\Contents\MacOS\ApplePS2Keyboard</key>
		<data>
		Ry1P/6jJTQVueEe+VCdc60UQdSFoglGUdMghXZBUTg8=
		</data>
		<key>Kexts\AsusSMC.kext\Contents\Info.plist</key>
		<data>
		I0sCyu/oA2mjBxiwqraxNI2tgGwU6PDVxtsdgJxml9M=
		</data>
		<key>Kexts\AsusSMC.kext\Contents\MacOS\AsusSMC</key>
		<data>
		+OgvibnZV/ahHJF5EwkH2oCc97/u04N/mXLlHqnwjko=
		</data>
		<key>Kexts\AsusSMC.kext\Contents\_CodeSignature\CodeResources</key>
		<data>
		ZobeEKKKL+EbNsu4bcusyCfPxOoRa02r8YReWu5inps=
		</data>
		<key>Kexts\BrcmBluetoothInjector.kext\Contents\Info.plist</key>
		<data>
		Kj4+swEYjBu/4hkYRzbQB//tlbYwjGXhaJXFhH1ojnw=
		</data>
		<key>Kexts\BrcmFirmwareData.kext\Contents\Info.plist</key>
		<data>
		q1ugxTZE5C7EV10aZzDkXUBWnX/P9lJa9/l1XzZQKh4=
		</data>
		<key>Kexts\BrcmFirmwareData.kext\Contents\MacOS\BrcmFirmwareData</key>
		<data>
		HB8ZlKpwkiyqk68tB1JrHXEh12hX05vKGFvmwi1wAOo=
		</data>
		<key>Kexts\BrcmPatchRAM2.kext\Contents\Info.plist</key>
		<data>
		4lJ7/phnB9sYHT1EIWmS5sM0VXAz+BQUkvZE+g0lA30=
		</data>
		<key>Kexts\BrcmPatchRAM2.kext\Contents\MacOS\BrcmPatchRAM2</key>
		<data>
		uJ4kZ6bCyTuurA43OOLbIZsPDq5SAx0YUlEHMVsezxM=
		</data>
		<key>Kexts\BrcmPatchRAM3.kext\Contents\Info.plist</key>
		<data>
		5NJLhHXoWwMKnFYU8V3sz1LI7ypOvoP5NjMjjn/MMb4=
		</data>
		<key>Kexts\BrcmPatchRAM3.kext\Contents\MacOS\BrcmPatchRAM3</key>
		<data>
		uD7+P9D5cUdYN7hDyktmSAVBOoGk/LrMNjRgI9Q5Tyc=
		</data>
		<key>Kexts\HibernationFixup.kext\Contents\Info.plist</key>
		<data>
		zUWv2iiV8Jk+/qgnih2v6PFsF9YVTVnDR1lS5D3sb0I=
		</data>
		<key>Kexts\HibernationFixup.kext\Contents\MacOS\HibernationFixup</key>
		<data>
		TJFUi9UXZdZxpfHKf7Bf3VzvmbTkNg2jBMo4lQf5mn4=
		</data>
		<key>Kexts\Lilu.kext\Contents\Info.plist</key>
		<data>
		tae3aMKDgp9kU4JnX1ngzxLnyUgLQc0TRrBXrcgoCxk=
		</data>
		<key>Kexts\Lilu.kext\Contents\MacOS\Lilu</key>
		<data>
		VvhTcFjPLOgPeYRVLJqV9mJ8kSJIT4ESzSGChJDGIyU=
		</data>
		<key>Kexts\NoTouchID.kext\Contents\Info.plist</key>
		<data>
		p+Lnl5edmtDx3KVAy61pnUzPWK4fpk1h54OxqKytBws=
		</data>
		<key>Kexts\NoTouchID.kext\Contents\MacOS\NoTouchID</key>
		<data>
		vEXQmzydFg2L31qzfk+X6x5iRQ/nHRi5lyyjR32DlF8=
		</data>
		<key>Kexts\NoTouchID.kext\Contents\_CodeSignature\CodeResources</key>
		<data>
		ZobeEKKKL+EbNsu4bcusyCfPxOoRa02r8YReWu5inps=
		</data>
		<key>Kexts\SMCBatteryManager.kext\Contents\Info.plist</key>
		<data>
		l84qPyMThEZgGaKgS5WHlDeVg+h/pmYMA0iL5cRs4rY=
		</data>
		<key>Kexts\SMCBatteryManager.kext\Contents\MacOS\SMCBatteryManager</key>
		<data>
		WiSbVkZNvSLA0/78j/hK5vc7zIjGm5T1tt6hmdmmMcU=
		</data>
		<key>Kexts\SMCLightSensor.kext\Contents\Info.plist</key>
		<data>
		iUWIX/dxMwa1wTwiOW2sxmiPPUYHJzFij2MlfzsqoV4=
		</data>
		<key>Kexts\SMCLightSensor.kext\Contents\MacOS\SMCLightSensor</key>
		<data>
		6PKEn7WGhvVfiDEvp75ocbDATTyul7/7Gsz3VhwEmJE=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\Info.plist</key>
		<data>
		lEyBd8q/ea9LMzCT8VXy9a426O6a+HFD8YHSKPIZ4Sw=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\MacOS\SMCProcessor</key>
		<data>
		6mW6kiQ2M4E/uaMLJZ4UOSDCdSf0ncNOY9Na0cb3l4A=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\Info.plist</key>
		<data>
		2pz9lQFPqMDSJvm2Hh1D/kKyl1T8MMpHv5b9Nj9DByU=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\MacOS\SMCSuperIO</key>
		<data>
		+dZ/yOIEnfW9XfO6kfQKwct1Vcn55rm3hzwINbsNKHc=
		</data>
		<key>Kexts\USBPorts.kext\Contents\Info.plist</key>
		<data>
		VN2urtS+ExwAxEWA8/P0FjaoxqoBlO6RWPveqHQ6XS8=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\Info.plist</key>
		<data>
		f0GF/0IWtPRh1u4q8OoP3oEqqugRveYKbluMdqzgS3o=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\MacOS\VirtualSMC</key>
		<data>
		y4hgNz+Rd/YK5RroXtkDVSVV0cq1+Nxkj5AcsidYj3E=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\Info.plist</key>
		<data>
		fnfVXpImPLtbIUjcTYFKzJQYCOfMOynqWoVtFGcgZIo=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\MacOS\WhateverGreen</key>
		<data>
		F+zW8FHOy41oLbbdHocPZhUFP8uo9b55gWWbOJnZUxg=
		</data>
		<key>Resources\Font\Font.bin</key>
		<data>
		jm/bvqJLIlw09ppx0Ge2z20J1Ni06v9BGgoNRqcnWmU=
		</data>
		<key>Resources\Font\Font.png</key>
		<data>
		HC5p5FFlenemKh09qSQr9GsZjbMq4NHTXdoX9mSrgW0=
		</data>
		<key>Resources\Image\AppleRecv.icns</key>
		<data>
		B7hfEZiy+0DN5mhJRhO8vRXKn7xj/CYaunv3+aPcw0I=
		</data>
		<key>Resources\Image\AppleTM.icns</key>
		<data>
		2THGhilwQruqRcy0LW1OqCGr5qVaxlWHQzKb96AtBwQ=
		</data>
		<key>Resources\Image\Cursor.icns</key>
		<data>
		jWnjyC+nftf8rbEBmttXiqobKyBgUNNVTnKTRH2k1vU=
		</data>
		<key>Resources\Image\ExtAppleRecv.icns</key>
		<data>
		7xLvdstZvJsbpWA0XV68d/Wvf2qj8o21dwlHiORrc38=
		</data>
		<key>Resources\Image\ExtAppleTM.icns</key>
		<data>
		qNVam12lgS9r1kxUMrTkFNa7IC4qyXEf1XAqyfXRq58=
		</data>
		<key>Resources\Image\ExtHardDrive.icns</key>
		<data>
		byYuBaNvH/PloBeLM5YmwVa+aN6Pm120uQZSzhF0RYs=
		</data>
		<key>Resources\Image\ExtWindows.icns</key>
		<data>
		byYuBaNvH/PloBeLM5YmwVa+aN6Pm120uQZSzhF0RYs=
		</data>
		<key>Resources\Image\HardDrive.icns</key>
		<data>
		ZSydAoxJb6XadZEPkLMSur6b76ouYgo0bedlFcPdGZw=
		</data>
		<key>Resources\Image\OldAppleRecv.icns</key>
		<data>
		BYIIrqxgEPGXmoah2ZkMmI7rSVwXHwTZRE0u7ZeRAiI=
		</data>
		<key>Resources\Image\OldAppleTM.icns</key>
		<data>
		kfqbz0TgBkWq0TlYnZgBVjIigruI8fVrW+rjIc1fd4g=
		</data>
		<key>Resources\Image\OldCursor.icns</key>
		<data>
		cFrd6p5REd0tw/V/R0QLKCTIwR3FIZWor2hjc0pNQvQ=
		</data>
		<key>Resources\Image\OldExtAppleRecv.icns</key>
		<data>
		kCAVGiy7XvX5OeArbGsj/YA2tPFO9H5Nu2rsK3mlwaE=
		</data>
		<key>Resources\Image\OldExtAppleTM.icns</key>
		<data>
		v1i8lfUZhtA0AZzjSYTIm7LALt8ewR3XFtxesyqYpQg=
		</data>
		<key>Resources\Image\OldExtHardDrive.icns</key>
		<data>
		lx2LM6/BjCD+7JjBZwxTifveSSBuZ0a0vZozYfgPhsM=
		</data>
		<key>Resources\Image\OldExtWindows.icns</key>
		<data>
		lx2LM6/BjCD+7JjBZwxTifveSSBuZ0a0vZozYfgPhsM=
		</data>
		<key>Resources\Image\OldHardDrive.icns</key>
		<data>
		bdk6FQmsEZNwuu23yYPgcPL2I3Ef/J5EMLFgZj8JmCk=
		</data>
		<key>Resources\Image\OldSelected.icns</key>
		<data>
		vx8ufLxFiYZRp2r38/XXdwAZCC5YA5X5CDi1nV1eDlA=
		</data>
		<key>Resources\Image\OldSelector.icns</key>
		<data>
		9rRKs/YfQiHpV0iqtD9yexvZ25YKg5d3OoDD3cepdMA=
		</data>
		<key>Resources\Image\OldShell.icns</key>
		<data>
		gEcPCfcDTmFjthsXV+0PmwUQJiThDYfLGU8EiMWm1Yo=
		</data>
		<key>Resources\Image\OldTool.icns</key>
		<data>
		ki1bEsK6JJbF7q3YNKyeoa+zh+UzJiAaQZSZOZWArYs=
		</data>
		<key>Resources\Image\OldWindows.icns</key>
		<data>
		wNcbRCTnfXw2Baf/ZnCvqoHh1c0O80ez6gQod9GAm/s=
		</data>
		<key>Resources\Image\Selected.icns</key>
		<data>
		3j7UwdA2B+fxXOpYKLe6onQ0k6QZJpjCim84A7Uho84=
		</data>
		<key>Resources\Image\Selector.icns</key>
		<data>
		IfpTJIn1e29emudlPZdU+Tc8kw8V38/qBG0D3gRuVvk=
		</data>
		<key>Resources\Image\Shell.icns</key>
		<data>
		p5qs2O/dgXshBdR3+inPDaS7dH3chT5CY0G9DVlO1Y8=
		</data>
		<key>Resources\Image\Tool.icns</key>
		<data>
		P/qbWF8tPEpxYMJaR8zmm0aYw44eX6zYSKQczHYKtuo=
		</data>
		<key>Resources\Image\Windows.icns</key>
		<data>
		vdSheJ+3sDd3ARNfArhva6RhRFwnuaQz9ZN/X7oh38o=
		</data>
		<key>Resources\Label\Apple.l2x</key>
		<data>
		aqQuuV8p4HnZyMw9D3OJ6GuyaHoi2LH5mOTMiHsP8B0=
		</data>
		<key>Resources\Label\Apple.lbl</key>
		<data>
		Beur9wk5wxkmid2OEO1n7hJr75sAEaEbilsftssHsVk=
		</data>
		<key>Resources\Label\AppleRecv.l2x</key>
		<data>
		45KSmt4VG9OpqhvlrzFyzYti6k1acdD10jKE7u1LBow=
		</data>
		<key>Resources\Label\AppleRecv.lbl</key>
		<data>
		ZNl8ExxImOlljcrtb0HRj9yZwvPOV7bBf+UVgq1quNw=
		</data>
		<key>Resources\Label\AppleTM.l2x</key>
		<data>
		vlVLy0ljWOJ6/CLBBKi3tTsni3zSNQSLAy3grJv3Fec=
		</data>
		<key>Resources\Label\AppleTM.lbl</key>
		<data>
		FHQN+5rnVtoLvnEYSWmOT/rc4a9Xm0rPh4L0FIqadtA=
		</data>
		<key>Resources\Label\EFIBoot.l2x</key>
		<data>
		tUq1rW76qR+qrXVI9RI8bnqCWflnAWtGnhDgCTg4IZ4=
		</data>
		<key>Resources\Label\EFIBoot.lbl</key>
		<data>
		Zcy1wg8NZqZmUacQhy6KkH19QbcEnGR9YgvK0sqONbA=
		</data>
		<key>Resources\Label\Other.l2x</key>
		<data>
		bToqVY/uMYK1bZIRKXjW3yY/r8UIi/vKtMxIflqRvPE=
		</data>
		<key>Resources\Label\Other.lbl</key>
		<data>
		mqInO/f5n7q8fukEDFzomQlFwJL4QxYRqlcmFoJ/f8o=
		</data>
		<key>Resources\Label\ResetNVRAM.l2x</key>
		<data>
		hYMKejHsjiMruJTRWlb1ghGYLD9nWj62/oGQ9AMABkM=
		</data>
		<key>Resources\Label\ResetNVRAM.lbl</key>
		<data>
		x/EwJcwlbQV6AmKggOwO2TP/9yAhi79HyHYvL+Q1AJg=
		</data>
		<key>Resources\Label\Shell.l2x</key>
		<data>
		iL/jdtTT78wa42h1t64Nwf3yf3o8LYWbC4pfh/Y60b8=
		</data>
		<key>Resources\Label\Shell.lbl</key>
		<data>
		7yts2fxOEcPtVYVV/Pvp+zN3/V2HISzrXh3B+pReBEU=
		</data>
		<key>Resources\Label\Tool.l2x</key>
		<data>
		L9RHriS0wbQ6Yx9aEWobWlnFj0mVn85MX+1+d08HvyQ=
		</data>
		<key>Resources\Label\Tool.lbl</key>
		<data>
		gAm1eccLkfAykSaU3SXahr3mwZTfF2WRTQmdjY5OezU=
		</data>
		<key>Resources\Label\Windows.l2x</key>
		<data>
		ss8U4b4/hAy/cUyNikpOdqY1x+5bsmqVOSIlhDCRdwg=
		</data>
		<key>Resources\Label\Windows.lbl</key>
		<data>
		qSL4ofi7m/ym98/PsrcsC6zCF+D2Et1O9Gd7w9UElkg=
		</data>
		<key>Tools\BootKicker.efi</key>
		<data>
		mMJb1aacOwpmRKLzt9CU2sG/MEUjvkmUeMayCjjSydg=
		</data>
		<key>Tools\ChipTune.efi</key>
		<data>
		ht/kJ7NybCW1o/r86mzjywFDUQUvSC5/M3/5hHAmYYk=
		</data>
		<key>Tools\CleanNvram.efi</key>
		<data>
		Wb2UWFeB8fOHio7T7/A/O5bh2YBsrpS7lX+yHRnhoX0=
		</data>
		<key>Tools\GopStop.efi</key>
		<data>
		XwbfoaaLAdRpFQHwtcNHQW/mKoq7unk0RGka9Gz6UAw=
		</data>
		<key>Tools\HdaCodecDump.efi</key>
		<data>
		JK0AdCIGB1+/kZJR2nFvplaVIQ+SVZXxxt+uLwYRoqg=
		</data>
		<key>Tools\KeyTester.efi</key>
		<data>
		YkwM2QzXbE5nWAAaUSfzk5+FphLDNkTUwLDuZE5JIPM=
		</data>
		<key>Tools\MmapDump.efi</key>
		<data>
		EOtDbDBuM2pZ0bCpgj425lzmWL1d4b8YOx2KkQ6SCUc=
		</data>
		<key>Tools\OpenControl.efi</key>
		<data>
		eJvGQ6vLBxuxoBwotdBV67XeAi330NrDgK/KdS0u6rE=
		</data>
		<key>Tools\OpenShell.efi</key>
		<data>
		BUDugv74hPfjoVpWG6GqXKFTpB2zyR788ZT+kmnZSA8=
		</data>
		<key>Tools\ResetSystem.efi</key>
		<data>
		RqWvKPFA57ESA/fD+FMKmIpojV28ujWHw4mqcniiYiA=
		</data>
		<key>Tools\RtcRw.efi</key>
		<data>
		D+HdpI2DBk4aejf3h96BJkW8DxZkCyJUtmF1/Ppohuc=
		</data>
		<key>Tools\VerifyMsrE2.efi</key>
		<data>
		A8eEs4CW3KmegnJl5oqI/pwZp6aaM5mlYm930ZSMLwM=
		</data>
		<key>Tools\codec_dump.txt</key>
		<data>
		5Hcmaa1UUC9kX+7Y+nT1LsH6fBsR3VCZS9yJ2MtjbSk=
		</data>
		<key>config.plist</key>
		<data>
		EcrZjsr+WQM9xO/foq/FfZfbWg6xQl+eLy/BNxlV9J4=
		</data>
		<key>sign.command</key>
		<data>
		/T3D0eiYJRNOpQLrswVs1mGpEsIkaf8a6cIpB1mPNWY=
		</data>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
